.head{
    color: #000;
    font-family: 'Times New Roman';
    font-weight: bold;
}
h2{
    text-align: center;
    color: skyblue;
    font-size: 300%;
    transition: 0.5s;
}
.head h2:hover{
    background: transparent;
    cursor: pointer;
    color: magenta;
}
body{
    margin: 5px;
    padding: 5px;
}
.para p{
    text-align: center;
    letter-spacing: 2px;
}